.git
.gitignore
images/
google.php
assets/bootstrap/
assets/font-awesome/
assets/fonts/
screenshot.png
woocommerce/global/quantity-input-sauv.php
woocommerce/single-product/-short-description.php

style copy.css
header copy.php
template-parts/navigation/navigation-top copy.php
test.php
widget-contact.html