.woocommerce,p,span{font-family: Helvetica, Arial, sans-serif;}
.woocommerce ul.products li.product .button{font-family: 'Poppins Regular', Helvetica, Arial, sans-serif !important;}
.woocommerce-loop-product__title{font-size: 1.3rem;}
.woocommerce-privacy-policy-text,.woocommerce-LostPassword,.woocommerce ul.products li.product .button,#menu-shop .count{font-size: .8rem;}
.woocommerce div.product .product_title,.price{font-weight: 600; font-style: italic;}
.woocommerce div.product form.cart .button,.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{width: 100%;}
.content-shop{min-height:80vh;margin-top: 5rem;}
.woocommerce form .form-row {padding: 1rem 0; margin: 0 0 6px;}
.woocommerce ul.order_details,.woocommerce-order{margin: 1rem 0!important;}
form table label{margin-bottom: 0;}
.woocommerce .woocommerce-breadcrumb{padding: 1rem 0;}
.woocommerce-Address-title{padding-top: 2rem;}
.cart{padding-top: 1.5rem;}
.woocommerce-MyAccount-navigation,.woocommerce-Addresses{padding-bottom: 2rem;}
.woocommerce .page-title{padding-bottom: 1rem;}
.woocommerce-account .addresses .title h3{float:none;}
.woocommerce-MyAccount-navigation ul{padding-left:0!important;background: var(--extra-light-grey);}
.woocommerce-MyAccount-navigation li{text-align: center; padding: .5rem 0; }

.woocommerce-MyAccount-navigation a,.woocommerce-loop-category__title,.woocommerce-cart-form__cart-item a:hover{color:var(--black)!important;}
.woocommerce-MyAccount-navigation a:hover,.product-category a:hover,
.woocommerce ul.products li.product a.woocommerce-LoopProduct-link:hover,.woocommerce-loop-category__title:hover,.shipping-calculator-button,
.woocommerce-cart-form__cart-item a,.woocommerce button.button{color: var(--grey)!important;}
.woocommerce ul.products {margin: 0 0 4rem;}
address{margin-bottom: 1rem; font-style: normal; line-height: inherit; background: var(--extra-light-grey); padding: 6px;}
.product_meta a,.woocommerce .woocommerce-breadcrumb a:hover,
.woocommerce ul.products li.product a.woocommerce-LoopProduct-link,.shipping-calculator-button:hover,.product_meta a:hover,
.woocommerce button.button:hover, .woocommerce input.button:hover{color:var(--black)}
.product-category a,.product_meta a{text-transform: uppercase;}
.product-category a h2{font-weight: 600;}
.woocommerce div.product p.price, .woocommerce div.product span.price,.woocommerce ul.products li.product .price{color: var(--black)!important; font-weight: 600;font-size: 1.3rem;}
.woocommerce-loop-category__title mark{display: none;}
.product-category h2,.woocommerce-loop-product__title,.button-size-guide{text-align: center; font-weight: 600; height: 55px;}/*  */
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{margin-bottom: 5em!important;}
.woocommerce-product-details__short-description h3{font-weight: 600; text-transform: uppercase;}

/* .woocommerce div.product form.cart .button,
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt,  .woocommerce input.button.alt,.woocommerce div.product form.cart .button:hover,
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, 
.woocommerce button.button,.woocommerce button.button.alt, .woocommerce input.button.alt,
.woocommerce #respond input#submit.alt.disabled,.woocommerce #respond input#submit.alt.disabled:hover,.woocommerce #respond input#submit.alt:disabled,.woocommerce #respond input#submit.alt:disabled:hover,.woocommerce #respond input#submit.alt:disabled[disabled],.woocommerce #respond input#submit.alt:disabled[disabled]:hover,.woocommerce a.button.alt.disabled,.woocommerce a.button.alt.disabled:hover,.woocommerce a.button.alt:disabled,.woocommerce a.button.alt:disabled:hover,.woocommerce a.button.alt:disabled[disabled],.woocommerce a.button.alt:disabled[disabled]:hover,.woocommerce button.button.alt.disabled,.woocommerce button.button.alt.disabled:hover,.woocommerce button.button.alt:disabled,.woocommerce button.button.alt:disabled:hover,.woocommerce button.button.alt:disabled[disabled],.woocommerce button.button.alt:disabled[disabled]:hover,.woocommerce input.button.alt.disabled,.woocommerce input.button.alt.disabled:hover,.woocommerce input.button.alt:disabled,.woocommerce input.button.alt:disabled:hover,.woocommerce input.button.alt:disabled[disabled],.woocommerce input.button.alt:disabled[disabled]:hover{background: #fff;border: #ccc solid 1px;}
select{background: #fff; border-radius: 0; padding: .5rem .3rem;} */

.cursor-pointer{cursor: pointer;}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover,
.woocommerce input.button.alt:hover, .woocommerce button.button.alt:hover,
 /* .woocommerce button.button:hover,.woocommerce a.button:hover */
 {color:#000!important; background-color: #fff!important;}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,select{border-radius: 0;}
.quantity input{border-bottom: none;}
/* galerie et images */
.woocommerce div.product .woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1){clear:none;}
.woocommerce div.product .woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(5n+1){clear:left;}
.woocommerce ul.products li.product .price{text-align: center;} 
.woocommerce form .show-password-input, .woocommerce-page form .show-password-input {top:0;}
.woocommerce ul.products li.product .button{font-weight:600;text-align: center; background: var(--black); color:var(--white);  position: absolute;left: 50%;transform: translateX(-50%); width:100%;}
/* .woocommerce a.added_to_cart{} */
.woocommerce ul.products li.product .button:hover{background-color: var(--grey);}
input[type='number']  {-webkit-appearance: none; -moz-appearance: textfield;}

.label{width: 120px;}
.woocommerce .quantity .qty{line-height: inherit;}
.woocommerce div.product form.cart div.quantity {float: left;margin: 0 0 2rem 0;}
.woocommerce-tabs .related h2{height:55px;}
.woocommerce div.product .woocommerce-tabs{margin: 0 0 5rem;}
.woocommerce div.product div.images .flex-control-thumbs li{width:20%;float: left;margin: 0;list-style: none;}
.woocommerce div.product div.images .flex-control-thumbs li img{width:auto;}

@media (min-width: 576px) { 
    #contentSizeGuide th{font-size: 1rem;}
}
@media (min-width: 768px) { 
}
@media (min-width: 992px) {
    .woocommerce-MyAccount-navigation li{text-align: left; padding: .5rem 0 .5rem 1rem;}
    .woocommerce-MyAccount-navigation ul{width: 80%;}
    .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{width: 48%;}
    .woocommerce ul.products li.product{margin: 0 3% 5rem 0!important;}
    .woocommerce ul.products li.product .button{width: auto;}
    .woocommerce div.product p.price, .woocommerce div.product span.price,.woocommerce ul.products li.product .price{font-size: 1.3rem;}
    .woocommerce-product-details__short-description,
    .woocommerce #content div.product div.images, .woocommerce div.product div.images, 
    .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images{float: left;width: 48%;max-width:600px;}
    .woocommerce ul.products li.last{margin-right: 0!important;}
    .entry-summary form [type='submit']{margin-bottom: 3rem;}
}
 @media (min-width: 1200px) {
    .woocommerce-MyAccount-navigation li{padding: .7rem 0 .7rem 1rem;}
}
