/* Woocommerce*/
.woocommerce,p,a,span{font-family: Helvetica, Arial, sans-serif;}
.woocommerce-loop-product__title{font-size: 1.3rem;}
.woocommerce-privacy-policy-text,.woocommerce-LostPassword,.woocommerce ul.products li.product .button,#menu-shop .count{font-size: .8rem;}
.woocommerce .woocommerce-breadcrumb{padding: 1rem 0;}
.woocommerce div.product .product_title,.price{font-weight: 600; font-style: italic;}
.content-shop{min-height:80vh;}
.woocommerce div.product form.cart .button,.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{width: 100%;}
.woocommerce form .form-row {padding: 1rem 0; margin: 0 0 6px;}
.woocommerce-MyAccount-navigation,.woocommerce-Addresses{padding-bottom: 2rem;}
.woocommerce-account .addresses .title h3{float:none;}
.woocommerce ul.order_details,.woocommerce-order{margin: 1rem 0!important;}
.woocommerce-Address-title{padding-top: 2rem;}
.woocommerce .page-title{padding-bottom: 1rem;}
.woocommerce-MyAccount-navigation ul{padding-left:0!important;background: #f3f3f3;}
.woocommerce-MyAccount-navigation li{text-align: center; padding: .5rem 0; }
.woocommerce-MyAccount-navigation a,.woocommerce ul.products li.product .button:hover,.woocommerce a.added_to_cart:hover,.woocommerce-loop-category__title,
.woocommerce-cart-form__cart-item a:hover{color:#000!important;}
.woocommerce-MyAccount-navigation a:hover,.product-category a:hover,
.woocommerce ul.products li.product a.woocommerce-LoopProduct-link:hover,.woocommerce-loop-category__title:hover,.shipping-calculator-button,
.woocommerce-cart-form__cart-item a,.woocommerce button.button{color: #727272!important;}
.woocommerce ul.products {margin: 0 0 4rem;}
address{margin-bottom: 1rem; font-style: normal; line-height: inherit; background: #f3f3f3; padding: 6px;}
.product_meta a,.woocommerce .woocommerce-breadcrumb a:hover,
.woocommerce ul.products li.product a.woocommerce-LoopProduct-link,.shipping-calculator-button:hover,.product_meta a:hover,
.woocommerce button.button:hover, .woocommerce input.button:hover{color:#000!important;}
.product-category a,.product_meta a{text-transform: uppercase;}
.product-category a h2{font-weight: 600;}
.woocommerce div.product p.price, .woocommerce div.product span.price,.woocommerce ul.products li.product .price{color: #000!important; font-weight: 600;font-size: 1.5rem;}
.woocommerce-loop-category__title mark{display: none;}
.product-category h2,.woocommerce-loop-product__title,.button-size-guide{text-align: center; font-weight: 600;}
.woocommerce-product-details__short-description h3{font-weight: 600; text-transform: uppercase;}
.woocommerce div.product form.cart .button,
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt,  .woocommerce input.button.alt,.woocommerce div.product form.cart .button:hover,
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, 
.woocommerce button.button,.woocommerce button.button.alt, .woocommerce input.button.alt{background: #fff;border: #ccc solid 1px;}
.woocommerce-product-details__short-description{float: left;width: 48%;}
/* .woocommerce #content div.product .woocommerce-tabs, .woocommerce div.product .woocommerce-tabs, .woocommerce-page #content div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs{clear: none;} */
.button-size-guide{
    background: #fff;
text-transform: uppercase;
font-weight: 600;
border: #e1e1e1 solid 1px;
padding: 1rem 0;
color: #727272;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover,
.woocommerce input.button.alt:hover, .woocommerce button.button.alt:hover,
 .woocommerce button.button:hover,.woocommerce a.button:hover,.button-size-guide:hover{color:#000!important; background-color: #fff!important;}
.woocommerce #respond input#submit, .woocommerce a.button, 
.woocommerce button.button, .woocommerce input.button{border-radius: 0;}
.cart{padding-top: 1.5rem;}
.quantity input{border-bottom: none;}
.woocommerce ul.products li.product .price{text-align: center;} 
.woocommerce form .show-password-input, .woocommerce-page form .show-password-input {top:0;}
.woocommerce a.added_to_cart{padding: 1rem .5rem; width: 60%;word-break: break-all;}
.woocommerce ul.products li.product .button,.woocommerce a.added_to_cart{font-weight:600;text-align: center; background: #fff;border: #ccc solid 1px;color: #727272!important;  position: absolute;left: 50%;transform: translateX(-50%); width:100%;}
input[type='number']  {-webkit-appearance: none; -moz-appearance: textfield;}
select,#contentSizeGuide{border-radius: 0; padding: .5rem .3rem; border: #ccc solid 1px;}
.label{width: 120px;}
form table label{margin-bottom: 0;}
.woocommerce .quantity .qty{border: #ccc solid 1px;}
.woocommerce-tabs .related h2{height:55px;}
.woocommerce div.product .woocommerce-tabs{margin: 0 0 5rem;}
#sizeguide,#closeGuide,.cursor-pointer{cursor: pointer;}
#contentSizeGuide{
    position: fixed; 
    width: 80%;
    background: #fff;  
    z-index: 20; 
    top:4rem; 
    left: 50%;
    transform: translateX(-50%);
    margin: 5% auto;
}
/* #contentSizeGuide{position: absolute; background: #fff;z-index: 20; top:5rem; width: 100%;} */
/* Grid */
/* @media (min-width: 576px) { 

} */
/* @media (min-width: 768px) {

} */
@media (min-width: 992px) {
    .woocommerce-MyAccount-navigation li{text-align: left; padding: .5rem 0 .5rem 1rem;}
    .woocommerce-MyAccount-navigation ul{width: 80%;}
    .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{width: 48%;}
    .woocommerce ul.products li.product .button{width: auto;}
    /* #contentSizeGuide{width: 80%; } */
}

 @media (min-width: 1200px) {
    .woocommerce-MyAccount-navigation li{padding: .7rem 0 .7rem 1rem;}
}
/*
@media (min-width: 1400px) {
} */